@media screen and (max-width:425px){
    .nav-items-container ul{
        flex-direction: column;
       
    }
    .banner-header-container{
        flex-direction: column-reverse;
   
   }
   .banner-img img{
    max-width: 100%;
   }
   .gamer-img-section img{
   width: 100%;
    
   }
   .game-section{
    flex-direction:column-reverse;
   }
   
}
@media screen and (max-width: 575px){
    .nav-container{
        flex-direction: column;
        gap: 10px;
}
.nav-items-container
    {
        flex-direction: column;
        gap: 15px;
    }
    .banner-header-container{
        flex-direction: column-reverse;
    }
    .banner-img{
        width: 90%;
    }
}